App-Local/paciente.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="paciente">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="xs:integer"/>
        <xs:element name="nombre" type="xs:string"/>
        <xs:element name="edad" type="xs:integer"/>
        <xs:element name="genero" type="xs:string" />
        <xs:element name="correo" type="xs:string"/>
        <xs:element name="telefono" type="xs:string" minOccurs="0"/>
        
        <xs:element name="direccion" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="calle" type="xs:string"/>
              <xs:element name="colonia" type="xs:string"/>
              <xs:element name="ciudad" type="xs:string"/>
              <xs:element name="estado" type="xs:string"/>
              <xs:element name="cp" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="metadatos">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="origen" type="xs:string"/>
              <xs:element name="fecha_evento" type="xs:dateTime"/>
              <xs:element name="operacion" type="xs:string"/>
              <xs:element name="checksum" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>